{% extends 'base.html.twig' %}

{% block body %}
    {% block messagebox %}
        <!-- Message Box -->
        <div class="message-box">
            <a href="#" data-toggle="modal" data-target=".contact-modal-lg">
                <img src="{{ asset('img/core-img/envelope.png') }}" alt="">
            </a>
        </div>
    {% endblock %}
    <!-- ***** Welcome Area Start ***** -->
    <section class="welcome-area">
        <div class="carousel h-100 slide" data-ride="carousel" id="welcomeSlider">
            <!-- Carousel Inner -->
            <div class="carousel-inner h-100">

                {% for photo in photos %}
                    {% set photo_url = storage.getPhotoUrl(photo.getId()) %}
                    <div class="carousel-item h-100 bg-img{% if photo.getId() == 1 %} active{% endif %}" style="background-image: url({{ photo_url }});">
                        <div class="carousel-content h-100">
                            <div class="slide-text">
                                <span>{% if photo.getId() > 9 %}{{ photo.getId() }}{% else %}0{{ photo.getId }}{% endif %}.</span>
                                <h2> {{ photo.getDescription() }}</h2>
                            </div>
                        </div>
                    </div>
                {% endfor %}

            </div>
            <!-- Carousel Indicators -->
            <ol class="carousel-indicators">
                {% for photo in photos %}
                    {% set photo_url = storage.getPhotoUrl(photo.getId()) %}
                    <li data-target="#welcomeSlider" data-slide-to="{{ photo.getId() }}" class="active bg-img" style="background-image: url({{ photo_url }});"></li>
                {% endfor %}
            </ol>
        </div>
    </section>
    <!-- ***** Welcome Area End ***** -->
{% endblock %}
{% block footer %}
    <!-- ***** Contact Area Start ***** -->
    <div class="contact-popup-form" id="contact-modal-lg">
        <div class="modal fade contact-modal-lg" tabindex="-1" role="dialog" aria-labelledby="contact-modal-lg" aria-hidden="true">
            <div class="modal-dialog modal-lg modal-dialog-centered">
                <div class="modal-content">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-12">
                                <div class="contact-heading-text text-center mb-30">
                                    <span></span>
                                    <h2>Please get in touch</h2>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Contact Form Area -->
                    <div class="contact-form-area">
                        <div class="container-fluid">
                            {% include 'common/contact_form.html.twig' %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- ***** Contact Area End ***** -->
{% endblock %}
