{% extends 'base.html.twig' %}

{% block title %}Hello BlogController!{% endblock %}

{% block header %}
    {{ parent() }}

    {% block header_area %}
        <header class="header-area bg-img" style="background-image: url(img/bg-img/14.jpg);">
            {% include 'common/header_row.html.twig' %}
        </header>
    {% endblock %}

{% endblock %}

{% block body %}
    <!-- Blog Area Start -->
    <section class="blog-area section_padding_100 mt-100">
        <div class="container">
            <div class="row justify-content-center">
                {% for article in pagination %}
                <!-- Single Blog Area -->
                    <div class="col-10">
                        <div class="single-blog-area text-center mb-100 wow fadeInUpBig" data-wow-delay="100ms" data-wow-duration="1s">
                            <div class="blog-thumbnail mb-100">
                                <img src="{{ storage.getPhotoUrl(article.getPhotoId()) }}" alt="">
                            </div>
                            <div class="blog-content">
                                <span></span>
                                <h2>{{ article.getTitle() }}</h2>
                                <a href="#" class="post-date">{{ article.getDate().format('F j, Y') }}</a>
                                <a href="{{ path('about') }}" class="post-author">By Maxim Kravets</a>
                                <p>{{ article.getText() }}</p>
                                <a href="{{ path('article', {'id': article.getId()}) }}" class="btn studio-btn"><img src="{{ asset('img/core-img/logo-icon.png') }}" alt=""> Read More</a>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
            <!-- Pagination -->
            <div class="row">
                <div class="col-12">
                    <nav aria-label="Page navigation" class="pagination-area mb-100">
                        <ul class="pagination justify-content-center">
                            {{ knp_pagination_render(pagination) }}
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
    </section>
    <!-- Blog Area End -->
{% endblock %}

{% block footer %}
    {% include 'common/footer_row.html.twig' %}
    {% include 'common/copyright_row.html.twig' %}
{% endblock %}